.deptHeading {
    font-family: 'Montserrat', sans-serif;
}

.home-slide {
    width: 100%;
    max-width: 1000px;
}

.message {
    font-family: 'Montserrat', sans-serif;
}

.missionAndVision {
    font-family: 'Montserrat', sans-serif;
}