<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

    <div class="container bg-primary mt-5 mb-4" th:fragment="footer">
        <div class="row pt-5">
            <div class="col-md-4">
                <h6 class="text-light text-center">Menu</h6>
                <ul class="navbar-nav">
                    <li>
                      <a class="nav-link py-0 text-center text-light" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link py-0 text-center text-light" th:href="@{/showTeacher}">Faculty Members</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0 text-center text-light" th:href="@{/showSyllabus}">Syllubus</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link py-0 text-center text-light" th:href="@{/showClassSchedule}">Class Schedule</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link py-0 text-center text-light" th:href="@{/showBook}">Books</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link py-0 text-center text-light " th:href="@{/showNotice}">Notice Board</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link py-0 text-center text-light" th:href="@{/showResource}">Resources</a>
                      </li>
                  </ul>
            </div>
            <div class="col-md-4 text-center text-light">
                <h6>Contact</h6>
                <p><i class="fa-solid fa-phone"></i><span> +88-0321-72720</span></p>
                <p><i class="fa-solid fa-mobile-retro"></i><span> +88-01717-207155</span></p>
                <p><i class="fa-solid fa-envelope"></i><span> chairmancste@gmail.com</span></p>
                <p><i class="fa-solid fa-fax"></i><span> +02334496504</span></p>
            </div>
            <div class="col-md-4 text-center text-light">
                <p>Department of Computer Science and Telecommunication Engineering</p>
                <p>Noakhali Science and Technology University</p>
                <p>Noakhali-3814, Bangladesh</p>
            </div>

            <p class="text-center text-light bg-success mt-3 mb-4 py-2">© Department of Computer Science and Telecommunication Engineering, NSTU <br> © Developed by Jabed Kaium </p>

        </div>
    </div>

    <script src="https://kit.fontawesome.com/e959a87dd8.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>